doctype html 

html 
    block head 
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1, user-scalable=no')
        title=title 
        link(rel='stylesheet' type='text/css' href='assets/css/main.css')
    body(class='is preload homepage')
        #header-wrapper 
            header(id='header' class='container')
                #logo 
                    h1 
                        a(href='/') cs2
                    span round tracker
        
                block nav
        #page-wrapper
            block content
        block foot