extends default
    
block content
    #features-wrapper
        .container.box
            #selectionContainer
                a(class='loginSelection' href='#') Login
                a(class='registerSelection' href='#') Register
            #loginContainer
                form(id='loginForm' action='/login' method='post')
                    label Username
                    input(type='text' name='username')
                    label Password
                    input(type='password' name='password')
                    input(type='submit')
                    p Don't Have an Account Yet? 
                        a(class='registerSelection' href='#') Register
            #registerContainer
                form(id='registerForm' action='/register' method='post')
                    label Email
                    input(type='email' name='email')
                    label Username
                    input(type='text' name='username')
                    label Password
                    input(type='password' name='password')
                    input(type='submit')
                    p Already Have an Account? 
                        a(class='loginSelection' href='#') Login

block foot
    script(src='login.js' type='text/javascript')