extends default 

block content 
    form(id='registerForm' action='/register' method='post')
        input(type='text' name='username')
        input(type='password' name='password')
        input(type='email' name='email')
        input(type='submit')

    script(src='register.js' type='text/javascript')